CREATE DATABASE [TshirtsPlus] ON  PRIMARY 
( NAME = N'TshirtsPlus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TshirtsPlus.mdf' , SIZE = 131072KB , FILEGROWTH = 15%)
 LOG ON 
( NAME = N'TshirtsPlus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TshirtsPlus_log.ldf' , SIZE = 24576KB , FILEGROWTH = 10%)
GO
ALTER DATABASE [TshirtsPlus] ADD FILEGROUP [DataFiles] CONTAINS FILESTREAM 
GO
ALTER DATABASE [TshirtsPlus] ADD FILEGROUP [SECONDARY]
GO
USE [TshirtsPlus]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TshirtsPlus] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
